<div>Store Model</div>
<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>

<h1>Todo</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <label>Nom</label>
    <input type="text" id="name" name="sodjodjdjs" formControlName="name" />
  </div>
  <button (click)="addTodo()">Envoyer</button>
</form>

<li *ngFor="let todo of todos$ | async">
  <div>{{ todo.title }}</div>
  <button (click)="deleteTodo(todo.id)">Delete</button>
  <button (click)="upDate(todo.id, todo.title)">Update</button>
</li>
